@{
    ViewData["Title"] = "Kontakt";
}


<div class="well">
    <p>Du hast eine Anfrage, Rückmeldung oder magst einfach mal nerdige Grüsse senden?</p>

    <p>Schreib der Nerdfee:</p>

    <p>Nerdfee@Nerdfee.de</p>
</div>
<ul class="pager">
    <li class="next">
        <a asp-area="" asp-controller="Home" asp-action="Impressum">Impressum</a>
    </li>
</ul>