
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Impressum</h2>


<div class="well">
<address>
    Sophie Helmke <br/>
    Am Linckhof 31<br />
    41470 Neuss<br />
    <abbr title="Email">E-Mail:</abbr>
    Nerdfee@Nerdfee.de
</address>

</div>