@{
}

    <!-- Main Content -->
    <div class="container">  
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">      
                @foreach (var item in Model)
                {
                    <div class="post-preview">
                        <a asp-area="" asp-controller="Artikel" asp-action="Show" asp-route-id="@item.Id" asp-fragment="disqus_thread">
                            <h2 class="post-title">
                                @item.Titel
                            </h2>
                            <h3 class="post-subtitle">
                                @item.Teaser
                            </h3>
                        </a>
                        <p class="post-meta">Posted on @item.Erstellt.ToString("dd. MMMM yyyy HH:mm")</p>
                    </div>
                    <hr>
                }
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">meeeehr &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>